<!DOCTYPE html>
<html>
  <head>
    <title> Rawan Project </title>
    <style>
      h1{
        font-size: 40px;
        font-family: Roboto;
        font-weight: normal;
        color:rgb(255,204,204);
        text-align: center;
        
      }
    #banner{
      width: 100%;
      height: 360px;
      object-fit: cover;
    }
    h2{
      font-family: Roboto;
      font-size: 32px;
      color:rgb(255,204,204);
      font-weight: normal;
      text-align: center;
    }
    p{
      font-family: Roboto;
    }
 
    </style>
  </head>
<body>
  <h1> Rawan's Projects </h1>
  <img id='banner' src="https://19506593-a841-4166-b65e-0d22a61cb518-00-33g0391pqvs7x.pike.replit.dev/static/banner.jpg"  >
  <h2> About me </h2>
  <p> Rawan Alghannam, AI Practitioner and Programmer at Aramco Digital

  As an AI Practitioner and Programmer at Aramco Digital, I leverage my expertise in AI and programming, particularly in Python and SQL, to develop and implement cutting-edge solutions that drive innovation and efficiency across the organization. My responsibilities include designing AI models, developing robust code, managing large datasets, and collaborating with cross-functional teams to translate business requirements into technical solutions. I am committed to harnessing the power of AI to address the unique challenges and opportunities faced by Aramco, driving operational excellence, enhancing safety, and optimizing decision-making within the organization.</p>
</body>
  <h2>Project</h2>
  <p>To Do - Show project details hear<p>
  <button>Contact Me</button>
  </p>
</html>