<!DOCTYPE html>
<html>
  <head>
  <body> 
    
    
    <title> {{myname}} Project </title>
{%include 'bootstrap.html'%}
     
    
  
  </head>
<body>
  <div  class="container">
  <h1 class="text-center"> Rawan's Projects </h1>
   {%include 'banner.html' %}
  <h2 class="text-center"> About me </h2>
  <p> Rawan Alghannam, AI Practitioner and Programmer at Aramco Digital

  As an AI Practitioner and Programmer at Aramco Digital, I leverage my expertise in AI and programming, particularly in Python and SQL, to develop and implement cutting-edge solutions that drive innovation and efficiency across the organization. My responsibilities include designing AI models, developing robust code, managing large datasets, and collaborating with cross-functional teams to translate business requirements into technical solutions. I am committed to harnessing the power of AI to address the unique challenges and opportunities faced by Aramco, driving operational excellence, enhancing safety, and optimizing decision-making within the organization.</p>
    
<h2 class="text-center mt-2 mb-4 " >Projects</h2>
<div>
  {% for item in myskills %}
  {% include 'myProjects.html'%}
    {% endfor %}
</div>
<div class="text-center">
  <a href="/contactme" type="button" class="btn btn-primary">Contact Me</a>
<p> copy right, {{myname}} </p> 
  </div>
</body>
</html>

